
{% extends "base.html" %}   // Inherits all the components from base template, including the header and footer

{% block head%}
<link rel="stylesheet" href="/static/css/galary.css">
{% endblock%}

{% block title%} Gallery {% endblock%}


{% block body %} 

<section class="gallery-page">
<div class="container my-5 text-center">
    <h1 class="text-center fw-bold text-white">Our Gallery</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4 py-5">
        <div class="col">
            <img src="/media/galary/1.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/2.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/3.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/4.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/5.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/6.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/7.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/8.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/9.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="col">
            <img src="/media/galary/10.jpg" class="img-thumbnail" alt="...">
        </div>
        
    </div>

</div>
</section>

{% endblock %}

