{% extends "base.html" %} // Inherits all the components from base template, including the header and footer


{% block head%}
<link rel="stylesheet" href="/static/css/join_us.css">
{% endblock%}

{% block title%} Join_Us {% endblock%}


{% block body %}

<section class="joining-page py-5">
    <h1 class="text-center fw-bold">Become a Member</h1>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 ">
                <div class="join_us-left">
                    <form action="/join_us" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-md ">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="name"
                                    name="name" placeholder="enter your name" required>
                            </div>
                            <div class="col-md">
                                <label for="branch">Your Branch</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="branch"
                                    name="branch" placeholder="enter your branch" required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md ">
                                <label for="reg">Your Reg. No.</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="reg"
                                    name="Reg" placeholder="enter your registration no." required>
                            </div>
                            <div class="col-md">
                                <label for="roll">Your Roll No.</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="roll"
                                    name="Roll" placeholder="enter your roll no." required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md ">
                                <label for="session">Your Session</label>
                                <input type="text" class="form-control shadow p-3 mb-5 bg-body rounded" id="session"
                                    name="session" placeholder="enter your session" required>
                            </div>
                            <div class="col-md ">
                                <label for="img">Upload Your Image / Image should be lass than 2mb</label>
                                <input type="file" class="form-control shadow p-3 mb-5 bg-body rounded" id="img"
                                    name="image" required>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md">
                                <label for="about">Write something About You</label>
                                <textarea class="form-control shadow p-3 mb-5 bg-body rounded" id="about" rows="3"
                                    placeholder="write about you" name="about" required></textarea>
                            </div>
                        </div>
                        
                        <button type="submit" id="btn" class="btn btn-outline-primary">Join Now</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="join_us-right mt-5">
                    <div class="text ms-4 ">
                        <h5 class="text-primary ">What You Get :</h5>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Full access to website.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>You get notified before all events.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>you can join all contests and hackathons.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Sunt neque quisquam, necessitatibus.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Sunt neque quisquam, necessitatibus.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Sunt neque quisquam, necessitatibus.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Sunt neque quisquam, necessitatibus.</p>
                        <p class="text-black"><i class="fa fa-check me-2 text-primary" aria-hidden="true"></i>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Sunt neque quisquam, necessitatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}