{% extends "base.html" %}   // Inherits all the components from base template, including the header and footer


{% block title%} Profile {% endblock%}


{% block body %} 
<div class="container  py-5">
    {% for msgs in userprofile %}
    <div class="text-center py-2">
        <a href="/"><img class="mb-4 " src="/media/{{msgs.image}}" alt="loading..." width="185" height="175"></a>
    </div>
    <h1 class="h3 mb-3 fw-normal text-center">{{msgs.name}}</h1>
    {% endfor %}

    <div class="container text-center">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-md-4">

                
                {% for msgs in userprofile %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>Email :</span> {{msgs.user.email}}</li>
                    <li class="list-group-item"><span>Registration No. :</span> {{msgs.reg_no}}</li>
                    <li class="list-group-item"><span>Branch :</span> {{msgs.branch}} </li>
                    <li class="list-group-item"><span>About_Me :</span> {{msgs.about}}</li>
                    <li class="list-group-item"><span>Roll No. :</span> {{msgs.roll_no}}</li>
                    <li class="list-group-item"><span>Session :</span> {{msgs.session}}</li>
                </ul>
                {% endfor %}

            </div>
            <div class="col">

            </div>
        </div>
    </div>

</div>
{% endblock %}